@charset "UTF-8";

@font-face {
  font-family: Now;
  src: url(../assets/fonts/Now-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: Now;
  src: url(../assets/fonts/Now-Regular.otf);
}

@font-face {
  font-family: Now;
  src: url(../assets/fonts/Now-Bold.otf);
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor01: #141F51;
  --cor02: #6E9DC9;
  --cor03: #528F92;
  --cor04: #6EC2C6;
  --cor05: #98D4E0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Now;
  font-size: 1.6rem;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "menu main";
  grid-template-columns: 0 1fr;
  grid-template-rows: 10vh 1fr;
  transition: all 200ms;
}