#graficos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

#graficos > div {
  min-width: 300px;
  width: 80%;
  max-width: 800px;
}

.grafico-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.grafico {
  aspect-ratio: 5 / 3;
}

.nav-grafico {
  align-self: center;
  display: flex;
  gap: 1em;
  flex-flow: row wrap;
  align-content: center;
}

.nav-grafico button {
  padding: 1em 1.5em;
  border: none;
  border-radius: .5em;
  background-color: var(--cor01);
  color: white;
  cursor: pointer;
}