section {
    margin: 3vh 0;
}

#articles-lista {
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.article {
    width: 65vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2vw;
}

.article-imagem {
    background-color: gray;
    border-radius: 1em;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.article-info {
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.article-info .titulo {
    font-size: max(2.4rem, 1.2vw);
    color: blue;
}

.article-info .texto {
    font-size: max(1.6rem, 1.1vw);
    text-indent: max(1.6rem, 1.5vw);
}
.texto > ul {
    margin: auto;
    padding: auto;
    list-style: inside;
}
.texto ol {
    margin: auto;
    padding: auto;

}
.texto ul ul {
    margin-left: 1.5em;

}

#mapa, #graficos {
    width: 100%;
    padding: 2vh 2vw;
    display: grid;
    grid-template-rows: auto 3fr;
    grid-template-columns: 100%;
    row-gap: 1em;
}

#mapa .titulo, #graficos .titulo {
    font-size: max(2.4rem, 1.4vw);
    text-align: center;
    color: var(--cor03);
}

#mapa-container, #graficos-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#graficos-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#mapa-container iframe, #graficos-container iframe {
    width: 60%;
    height: 100%;
    max-height: 420px;
    aspect-ratio: 16 / 9;
}

.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.navegacao #btn-left, .navegacao #btn-right {
    cursor: pointer;
    background-color: var(--cor03);
    border: none;
    box-shadow: 0 0 5px var(--cor01);
    outline: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao .material-symbols-outlined, 
.navegacao .material-symbols-outlined {
    font-size: max(3.2rem, 2.4vw);
    color: white;
    transition: all 200ms;
}

.navegacao #btn-left:active.material-symbols-outlined, 
.navegacao #btn-right:active.material-symbols-outlined {
    color: black;
}

.navegacao .material-symbols-outlined {
    font-size: max(3.2rem, 2.4vw);
}

@media screen and (max-width:768px) {
    #article-lista {
        width: 100%;
    }
    .article {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: none;
        gap: 1em;
    }
    .article-imagem, #mapa-container iframe, #graficos-container iframe {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
    .article-info {
        padding: 1rem;
        gap: 1em;
    }
    .article-info .titulo {
        text-align: center;
    }
    .article-info .texto {
        text-align: justify;
    }
}

@media screen and (max-width:425px) {
    #mapa-container iframe, #graficos-container iframe {
        aspect-ratio: 1 / 1;
        width: 100%;
    }
}