#menu {
  z-index: 9;
  position: relative;
  background-color: var(--cor03);
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  transition: all 200ms;
}

#menu.fechado * {
  transform: translateX(-20vw);
}

#menu.aberto * {
  transform: translateX(0);
}

#menu-lista {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#menu-lista .item {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: max(1.6rem, 1.5vw);
  color: white;
  text-decoration: none;
  padding: .8em 1em;
  display: flex;
  align-items: flex-end;
  gap: .5em;
  transition: all 200ms;
}

.item .material-symbols-outlined {
  font-variation-settings: 'FILL' 0;
}

.item.selecionado .material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

#menu-lista .item:hover {
  color: var(--cor01);
  border-left: solid 1vw;
}

#menu-lista .item.selecionado {
  color: var(--cor01);
  border-left: solid 2vw;
}

/* Btn reportar bugs*/
#reportar-erro {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

#btn-reportar-erro {
  cursor: pointer;
  border-radius: 1em;
  outline: none;
  border: 2px solid var(--cor01);
  background-color: var(--cor04);
  font-size: max(1.6rem, 1.2vw);
  color: var(--cor01);
  font-weight: bold;
  width: 90%;
  height: 3em;
  text-align: left;
  padding: 0 1em;
  display: flex;
  align-items: center;
  gap: .5em;
  transition: all 200ms;
}

#btn-reportar-erro:hover {
  transform: scale(1.1);
}

@media screen and (max-width:425px) {
  #menu.fechado {
    position: absolute;
    top: 10vh;
    width: 90vw;
    bottom: 0;
    left: -90vw;
  }
  #menu.aberto {
    position: absolute;
    width: 90vw;
    top: 10vh;
    bottom: 0;
    left: 0;
  }
}